# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS filesgit --version
Thumbs.db
.DS_Store

# VS Code Code Runner
tempCodeRunnerFile.pygit commit -m "Initial Python project structure"
